@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
    --background-color: #121013;
    --primary-color: #04AA6D;
    --secondary-color: #D82148;
    --white: #fff;
    --black: #000000;
    --navbar-color: #2C272E;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-color);
}

.logo {
    margin: 0.5rem auto 0 0.5rem;
    flex-basis: 5rem;
    font-size: 3rem;
    padding: 0 1rem;
    border: solid 7px var(--secondary-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 5rem;
}

.page-links {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul {
    display: flex;
    justify-items: flex-end;
    list-style: none;
}

nav ul li {
    flex-basis: 15%;
    margin: 1rem;
}

.login-btn {
    margin: 0 3rem 0 0;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border: solid 7px var(--secondary-color);
}

.login {
    color: var(--black);
}

.note-img {
    margin-top: 1.5rem;
    height: 27rem;
}

.txt {
    font-size: 1.5rem;
}

#primary-btn {
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: solid 5px var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}

#primary-btn:hover {
    background-color: var(--background-color);
    color: var(--white);
}