.flex-div {
    display: flex;
}
.lib-sidebar {
   background-color: var(--navbar-color);
    width: 15rem;
    font-weight: 700;
    font-size: 1.1rem;
    height: 100vh;
    left: 0;
    top: 0;
    padding-top: 6rem;
    position: fixed;
}
.lib-sidebar li {
    color: var(--white);
    padding: 1rem;
    list-style: none;
    display: flex;
}
.lib-sidebar li:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
.lib-sidebar a {
    text-decoration: none;
    color: var(--black);
}
.sidebar-icon {
    font-size: 1.8rem;
    color: var(--white);
}
.lib-sidebar li span {
    justify-self: flex-start;
    margin-left: 1.5rem;
}

.note-form {
    margin: 8rem 0 0 18rem;
    width: 25rem;
    background-color: var(--navbar-color);
    padding: 0.5rem;
    border-radius: 1rem;
}
.note-ip {
    font-size: 1.1rem;
    background-color: var(--navbar-color);
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
    color: var(--white);
}
.content-input {
    height: 5rem;
    margin-top: 0rem;
    background-color: var(--navbar-color);
    font-size: 1.1rem;
}

.add-btn {
    background: none;
    border: none;
    margin-left: 23.5rem;
}
.add-btn i {
    font-size: 3rem;
    color: var(--primary-color);
}
.add-btn i:hover {
    color: var(--secondary-color);
}
.note-heading {
    display: flex;
    justify-items: flex-start;
    margin: 2rem 0 0 18rem;
}
.note-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 2rem 2rem 2rem 18rem;
}
.added-note {
    width: 22rem;
    background-color: var(--navbar-color);
    height: max-content;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px var(--primary-color);
}
.title-div {
    display: flex;
    justify-items: flex-start;
    margin-left: 1rem;
}
.content-div {
    margin-bottom: 2rem;
}
.note-content {
    display: block;
    height: max-content;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1rem;
}