@import url("https://unpkg.com/mockman-js@latest/dist/style.css");
@import url("https://liniui.netlify.app/component.css");
@import url(./styles/appStyles.css);
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
